C:/UnityWorkspace/Aero-Diner/Aero[[:space:]]Diner/Assets/04.Arts/Fonts filter=lfs diff=lfs merge=lfs -text
Assets/04.Arts/Fonts/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/04.Arts/Fonts/Galmuri11.asset filter=lfs diff=lfs merge=lfs -text
